.container{
    height: 100%;
    width: 90%;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #151515;
}

.main{
    margin-top: 40px;
    display: grid;
    /*grid-template-columns: repeat(auto-fill, 300px);*/
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    justify-content: space-evenly;
}