.card{
    position: relative;
    color: white;
    border-radius: 20px;
    overflow: hidden;
}

.card:hover{
    overflow: visible;
}

.cardModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    clear: both;
    background-color: #424141;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    position: absolute;
    transition: all .2s;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.cardModal:hover{
    transform: scale(110%);
    z-index: 2;
    opacity: 1;
}

.cardModal>*:last-child{
    margin-bottom: 10px;
}

.infoList{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: .5rem;
}

.infoCell{
    box-sizing: border-box;
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #646363;
    border-radius: 1rem;
    padding: .2rem .4rem;
}

.image{
    width: 100%;
    border-radius: 20px;
}

.platforms{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    align-self: flex-start;
    gap: 1rem;
}

.genres{
    padding-left: 40px;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}